<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<p><a href="/comments/new" class="btn btn-primary">Add a New Comment</a></p>
<p></p>
<p></p>

<dl class="dl-horizontal">
  <dt>Image url</dt>
  <dd><img src="<%= @photo.image_url %>" width="480"></dd>


  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>User</dt>
  <dd><%= @photo.user_id %></dd>

  <dt>Comments</dt>
  <dd>
  	<% @photo.comments.each do |comment| %>
 	<div><%= comment.content %>
		 -  <%= comment.user_id%>
 	</div>
 	<% end %>
  </dd>
</dl>
